@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&family=Noto+Serif+JP:wght@400&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap");
/* ---------- common ---------- */
:root{
  --main-text:#464b3f;
  --taki-green:#3e7500;
  --main-border:#d2d7e5;
}
*{
  box-sizing:border-box;
}
html{
  font-family:Akshar,"Zen Kaku Gothic New","Noto Serif JP";
  font-size:1rem;
  font-weight:300;
  line-height:1.8;
  background:#f8f8f8;
}
img{
  max-width:100%;
  height:auto;
  display:block;
}
.content{
  width:90%;
  max-width:1024px;
  margin:0 auto;
}
p{
  margin:1.25rem 0;
}
p:first-of-type{
  margin:0 0 1.25rem;
}
p:last-of-type{
  margin:1.25rem 0 0;
}
strong{
  font-weight:500;
}
a{
  color:var(--taki-green);
  transition:.5s;
  text-underline-offset:.4rem;
}
a:not(.btn):hover{
  opacity:.6;
}
.btn{
  display:block;
  width:calc(100% - 1.5rem);
  padding:.75rem 4rem;
  color:var(--taki-green);
  border:1px solid var(--taki-green);
  text-decoration:none;
  text-align:center;
  position:relative;
  margin:1.25rem 0 0;
}
.btn::before,.btn::after{
  content:"";
  display:block;
  background:var(--taki-green);
  width:3rem;
  height:1px;
  position:absolute;
  bottom:36%;
  right:-1.5rem;
  transition:.5s;
}
.btn::after{
  width:1rem;
  height:1px;
  transform:rotate(30deg);
  bottom:44%;
}
.btn:hover::before{
  transform:translateX(.5rem);
}
.btn:hover::after{
  transform:translateX(.5rem) rotate(30deg);
}
.fadein{
  opacity:0;
  transition:1s;
  transition-property:opacity,translate;
  translate:0 1rem;
}
.fadein-active{
  opacity:1;
  translate:0 0;
}
footer{
  text-align:center;
  padding:2rem 1rem;
  background:#f8f8f8;
  font-size:.75rem;
  position:relative;
  z-index:1;
}

/* ---------- page-index ---------- */
#page-index section{
  position:relative;
  z-index:1;
  padding:4rem 0;
}
#page-index .content{
  display:grid;
  grid-template-columns:1fr;
  gap:2rem 3rem;
}
#page-index .content-title{
  font-size:1.25rem;
  font-weight:500;
  margin:0 0 1.25rem;
}
#page-index .mv{
  width:100%;
  height: 100svh;
  position: relative;
  display:grid;
  place-content:center;
}
.mv::before{
  content:"";
  display:block;
  width:100%;
  height:100vh;
  background: linear-gradient(rgba(62,117,0,.3),rgba(62,117,0,.3)),url(../images/mv.jpg) no-repeat center top/cover;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
}
#page-index .mv::after{
  content:"";
  width:1px;
  height:6rem;
  background:#fff;
  position:absolute;
  bottom:0;
  left:50%;
  animation:mv_scroll 2s ease-out 2.4s infinite;
}
#page-index .mv-content h1{
  font-family:"Noto Serif JP";
  font-weight:300;
  color:#fff;
  letter-spacing:.25em;
  margin:0 auto 2rem;
  writing-mode: vertical-rl;
  opacity:0;
  animation:mv_fadeIn 1.2s ease-out forwards;
}
#page-index .mv-content p{
  font-size:.875rem;
  color:#fff;
  opacity:0;
  animation:mv_fadeIn 1.2s ease-out 1.2s forwards;
}
#page-index .news{
  background:#f8f8f8;
}
#page-index .news .content{
  gap:0 4rem;
}
#page-index .news-content-title{
  margin:0;
}
#page-index .news-content-bottom .news-list{
  font-size:1.125rem;
  list-style:none;
  padding:0;
  margin:0;
}
#page-index .news-content-bottom .news-list li+li{
  border-top:1px solid var(--main-border);
}
#page-index .news-content-bottom .news-list a{
  display:grid;
  grid-template-columns:1fr;
  gap:.25rem 2rem;
  color:var(--main-text);
  text-decoration:none;
  padding:1.25rem 0;
}
#page-index .news-list-date{
  padding-top:.25rem;
}
#page-index .news-content-bottom .news-list-title{
  border-left:1px solid var(--taki-green);
  padding:.25rem 0 0 1rem;
  transition:.3s;
}
#page-index .news-content-bottom .news-list a:hover .news-list-title{
  padding:.25rem 0 0 1.5rem;
}
#page-index .profile{
  background: linear-gradient(rgba(62,117,0,.3),rgba(62,117,0,.3)),url(../images/profile_bg.jpg) no-repeat center center/cover;
  color:#fff;
}
#page-index .profile .btn{
  color:#fff;
  border-color:#fff;
}
#page-index .profile .btn::before,.profile .btn::after{
  background:#fff;
}
#page-index .blog{
  background:#fff;
}
#page-index .note{
  background:linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)),url(../images/note_bg.jpg) repeat center top/24px; 
}
#page-index .note .content{
  gap:.75rem 3rem;
}
#page-index .instagram{
  background:linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)),url(../images/instagram_bg.jpg) no-repeat left center/cover;
  
}
#page-index .instagram-content-top-feed{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:.25rem;
}
#page-index .instagram-content-top-feed a{
  display:block;
  position:relative;
}
#page-index .instagram-content-top-feed a::after{
  content:"";
  display:block;
  width:100%;
  height:100%;
  background:rgba(62,117,0,0);
  position:absolute;
  top:0;
  left:0;
  transition:.5s;
}
#page-index .instagram-content-top-feed a:hover::after{
  background:rgba(62,117,0,.6);
}


/* ---------- page-news ---------- */
#page-news .news-header{
  height:25rem;
  display:grid;
  place-content:center;
  place-items:center;
}
#page-news .news-header::before{
  content:"";
  width:100%;
  height:25rem;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  background: linear-gradient(rgba(62,117,0,.5),rgba(62,117,0,.5)),url(../images/profile_bg.jpg) no-repeat center top/cover;
}
#page-news .news-title{
  color:#fff;
  font-weight:400;
  margin:0;
}
#page-news .news-subtitle{
  color:#fff;
  opacity:.7;
}
#page-news .content{
  max-width:45rem;
  margin:0 auto;
}
#page-news .content-wrap{
  background:#fff;
  padding:4rem 0;
}
#page-news .news-list{
  font-size:1.125rem;
  list-style:none;
  padding:0;
  margin:0;
}
#page-news .news-list li+li{
  border-top:1px solid var(--main-border);
}
#page-news .news-list a{
  display:grid;
  grid-template-columns:1fr;
  gap:.25rem 2rem;
  color:var(--main-text);
  text-decoration:none;
  padding:1.25rem 0;
}
#page-news .news-list-date{
  padding-top:.25rem;
}
#page-news .news-list-title{
  border-left:1px solid var(--taki-green);
  padding:.25rem 0 0 1rem;
  transition:.3s;
}
#page-news .news-list a:hover .news-list-title{
  padding:.25rem 0 0 1.5rem;
}
#page-news .news-btn-wrap{
  width:90%;
  max-width:45rem;
  margin:0 auto;
}



@media screen and (min-width:768px){
  /* ---------- common ---------- */
  .fadein{
    translate:0 0;
  }
  /* ---------- page-index ---------- */
  #page-index section{
    height:100vh;
    max-height:720px;
    display:grid;
    align-items:center;
  }
  #page-index section .content{
    grid-template-columns:1fr 1fr;
    align-items:center;
  }
  #page-index section.news{
    height:auto;
    min-height:433px;
  }
  #page-index .news .content{
    width:100%;
    max-width:800px;
    grid-template-columns:5rem auto;
    align-items:center;
  }
  #page-index .news-content-bottom .news-list a{
    grid-template-columns:5rem auto;
    align-items:center;
  }
  #page-index .blog-content-top{
    order:2;
  }
  #page-index .blog-content-bottom{
    order:1;
  }
  #page-index .instagram-content-top{
    order:2;
  }
  #page-index .instagram-content-bottom{
    order:1;
  }
}
@keyframes mv_scroll{
  0%{
    height:6rem;
  }
  100%{
    height:0;
  }
}
@keyframes mv_fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}