@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&family=Noto+Serif+JP:wght@400&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap");

:root{
  --main-text:#464b3f;
  --taki-green:#3e7500;
  --main-border:#d2d7e5;
}
*{
  box-sizing:border-box;
}
html{
  font-family:Akshar,"Zen Kaku Gothic New","Noto Serif JP";
  font-size:1rem;
  font-weight:300;
  line-height:1.8;
}
img{
  max-width:100%;
  height:auto;
  display:block;
}
.content{
  width:90%;
  max-width:1024px;
  margin:0 auto;
}
p{
  margin:1.25rem 0;
}
p:first-of-type{
  margin:0 0 1.25rem;
}
p:last-of-type{
  margin:1.25rem 0 0;
}
.btn{
  display:block;
  width:calc(100% - 1.5rem);
  padding:.75rem 4rem;
  color:#fff;
  border:1px solid #fff;
  text-decoration:none;
  text-align:center;
  position:relative;
  margin:1.25rem 0 0;
}
.btn::before,.btn::after{
  content:"";
  display:block;
  background:#fff;
  width:3rem;
  height:1px;
  position:absolute;
  bottom:36%;
  right:-1.5rem;
  transition:.5s;
}
.btn::after{
  width:1rem;
  height:1px;
  transform:rotate(30deg);
  bottom:44%;
}
.btn:hover::before{
  transform:translateX(.5rem);
}
.btn:hover::after{
  transform:translateX(.5rem) rotate(30deg);
}
.fadein{
  opacity:0;
  transition:1s;
  transition-property:opacity,translate;
  translate:0 1rem;
}
.fadein-active{
  opacity:1;
  translate:0 0;
}
section{
  position:relative;
  z-index:1;

}
.mv{
  width:100%;
  height: 100svh;
  position: relative;
  display:grid;
  place-content:center;
}
.mv::before{
  content:"";
  display:block;
  width:100%;
  height:100vh;
  background: linear-gradient(rgba(62,117,0,.3),rgba(62,117,0,.3)),url(../images/mv.jpg) no-repeat center top/cover;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
}
.mv-content h1{
  font-family:"Noto Serif JP";
  font-weight:300;
  color:#fff;
  letter-spacing:.25em;
  margin:0 auto 2rem;
  writing-mode: vertical-rl;
}
.mv-content p{
  font-size:.875rem;
  color:#fff;
}
.news{
  background:#f8f8f8;
  padding:4rem 0;
}
.news .content{
  display:grid;
  grid-template-columns:1fr;
  gap:0 4rem;
}
.news-content-top,.news-ttl{
  font-size:1.25rem;
  font-weight:500;
  margin:0;
}
.news-content-bottom .news-list{
  font-size:1.125rem;
  list-style:none;
  padding:0;
  margin:0;
}
.news-content-bottom .news-list li+li{
  border-top:1px solid var(--main-border);
}
.news-content-bottom .news-list a{
  display:grid;
  grid-template-columns:1fr;
  gap:.25rem 2rem;
  color:var(--main-text);
  text-decoration:none;
  padding:1.25rem 0;
}
.news-list-date{
  padding-top:.25rem;
}
.news-content-bottom .news-list-title{
  border-left:1px solid var(--taki-green);
  padding:.25rem 0 0 1rem;
  transition:.3s;
}
.news-content-bottom .news-list a:hover .news-list-title{
  padding:.25rem 0 0 1.5rem;
}
.news .btn{
  color:var(--taki-green);
  border-color:var(--taki-green);
}
.news .btn::before,.news .btn::after{
  background:var(--taki-green);
}
.profile{
  background: linear-gradient(rgba(62,117,0,.3),rgba(62,117,0,.3)),url(../images/profile_bg.jpg) no-repeat center center/cover;
  color:#fff;
  padding:4rem 0;
}
.profile .content{
  display:grid;
  grid-template-columns:1fr;
  gap:2rem;
}
.profile-name{
  font-size:1.25rem;
  font-weight:500;
  margin:0 0 1.25rem;
}
.blog{
  background:#fff;
  padding:4rem 0;
}
.blog .content{
  display:grid;
  grid-template-columns:1fr;
  gap:2rem;
}
.blog-title{
  font-size:1.25rem;
  font-weight:500;
  margin:0 0 1.25rem;
}
.blog .btn{
  color:var(--taki-green);
  border-color:var(--taki-green);
}
.blog .btn::before,.blog .btn::after{
  background:var(--taki-green);
}
.note{
  background:linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)),url(../images/note_bg.jpg) repeat center top/24px; 
  padding:4rem 0;
}
.note .content{
  display:grid;
  grid-template-columns:1fr;
  gap:.75rem;
}
.note-title{
  font-size:1.25rem;
  font-weight:500;
  margin:0 0 1.25rem;
}
.note .btn{
  color:var(--taki-green);
  border-color:var(--taki-green);
}
.note .btn::before,.note .btn::after{
  background:var(--taki-green);
}
.instagram{
  background:linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)),url(../images/instagram_bg.jpg) no-repeat left center/cover;
  padding:4rem 0;
}
.instagram .content{
  display:grid;
  grid-template-columns:1fr;
  gap:2rem;
}
.instagram-content-top-feed{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:.25rem;
}
.instagram-content-top-feed a{
  display:block;
  position:relative;
}
.instagram-content-top-feed a::after{
  content:"";
  display:block;
  width:100%;
  height:100%;
  background:rgba(62,117,0,0);
  position:absolute;
  top:0;
  left:0;
  transition:.5s;
}
.instagram-content-top-feed a:hover::after{
  background:rgba(62,117,0,.6);
}
.instagram-title{
  font-size:1.25rem;
  font-weight:500;
  margin:0 0 1.25rem;
}
.instagram .btn{
  color:var(--taki-green);
  border-color:var(--taki-green);
}
.instagram .btn::before,.instagram .btn::after{
  background:var(--taki-green);
}
footer{
  text-align:center;
  padding:2rem 1rem;
  background:#f8f8f8;
  font-size:.75rem;
  position:relative;
  z-index:1;
}

@media screen and (min-width:768px){
  /* common */
  .fadein{
    translate:0 0;
  }
  section{
    height:100vh;
    max-height:720px;
  }
  section.news{
    display:grid;
    height:auto;
    min-height:433px;
    align-items:center;
  }
  .news .content{
    width:100%;
    max-width:800px;
    grid-template-columns:5rem auto;
    align-items:center;
  }
  .news-content-bottom .news-list a{
    grid-template-columns:5rem auto;
    align-items:center;
  }
  .profile{
    display:grid;
    align-items:center;
  }
  .profile .content{
    grid-template-columns:1fr 1fr;
    gap:3rem;
    align-items:center;
  }
  .blog{
    display:grid;
    align-items:center;
  }
  .blog .content{
    grid-template-columns:1fr 1fr;
    gap:3rem;
    align-items:center;
  }
  .blog-content-top{
    order:2;
  }
  .blog-content-bottom{
    order:1;
  }
  .note{
    display:grid;
    align-items:center;
  }
  .note .content{
    grid-template-columns:1fr 1fr;
    gap:3rem;
    align-items:center;
  }
  .instagram{
    display:grid;
    align-items:center;
  }
  .instagram .content{
    grid-template-columns:1fr 1fr;
    gap:3rem;
    align-items:center;
  }
  .instagram-content-top{
    order:2;
  }
  .instagram-content-bottom{
    order:1;
  }
}